.content {
	margin:0px 210px 50px 10px;
	padding:10px;
	}

#Menu {
	position:absolute;
	top:100px;
	right:0px;
	width:120px;
	padding:10px;
	line-height:17px;
/* Again, the ugly brilliant hack. */
	voice-family: "\"}\"";
	voice-family:inherit;
	width:120px;
	}
/* Again, "be nice to Opera 5". */
body>#Menu {width:120px;}